<head>
    <meta charset='utf-8'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    <link rel="stylesheet" href="/resource/style.css">
    <title>{{title}}</title>
    <script src="/resource/script.js"></script>
</head>